<div id="<%= dom_id collection %>">
  <p>
    <strong>Title:</strong>
    <%= collection.title %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= collection.private %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= collection.image_url %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= collection.profile_id %>
  </p>

</div>
