<%= form_with(model: profile, html: { id: "edit_profile_form" }) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="A_editAvatar">
    <label for="edit_avatar_image_upload" class="Q_editAvatarPreview">
      <span class="placeholder hidden">+</span>
      <img src="<%= @profile.avatar_url %>" alt="Avatar Preview" class="Q_editAvatarImgUpload" />
    </label>
    <%= form.file_field :avatar_url, id: "edit_avatar_image_upload", class: "hidden" %>
  </div>
  <div class="C_addItemsInputs">
    <h3>Основное</h3>
    <!-- Поле для имени -->
    <div class="A_addItemInputField">
      <%= form.label :Имя, class: "Q_addItemLabel" %>
      <%= form.text_field :name, class: "Q_addItemInput" %>
    </div>
      <!-- Поле для никнейма (username) -->
    <div class="A_addItemInputField">
      <%= form.label :Никнейм, class: "Q_addItemLabel" %>
      <%= form.text_field :username, class: "Q_addItemInput" %>
    </div>
  </div>

    <div id="edit-profile-actions" class="C_editProfileActions hidden">
    <!-- Кнопка "Войти" -->
    <%= form.submit "Сохранить", class: "Q_editProfileButton Q_editProfileSubmit" %>
    <%= link_to "Отменить", root_url, class: "Q_editProfileButton Q_editProfileCancel" %>
  </div>
<% end %>
