<% content_for :title, "TUMBA | #{@profile.name}" %>
<div class="O_profileHeader">
  <img class="Q_profileAvatar" src="<%= @profile.avatar_url %>" alt="">
  <div class="M_profileInfo">
    <div class="Q_profileInfo">
      <h1><%= @profile.name %></h1>
      <h4><%= @profile.username %></h4>               
    </div>
<% if current_profile == @profile %>
  <!-- Кнопка "Редактировать профиль" -->
  <%= link_to edit_profile_path(@profile), class: "Q_editProfileBtn" do %>
    <h3>Редактировать профиль</h3>
    <div>
      <img src="<%= asset_path('edit_w.svg') %>" alt="Редактировать">
    </div>
  <% end %>
<% else %>
  <!-- Кнопка "Подписаться" -->
  <button class="Q_subscribeBtn">
    <h3>Подписаться</h3>
  </button>
<% end %>
    <div class="C_subscriptionsInfo">
      <div class="W_subscribe">
        <h3 class="Q_subscriptionsCounter">0</h3>
        <h3 class="Q_sunscribeText">подписок</h3>
      </div>
      <div class="Q_subscribeLine"></div>
      <div class="W_subscribe">
        <h3 class="Q_subscribersCounter">0</h3>
        <h3 class="Q_sunscribeText">подписчиков</h3>
      </div>
    </div>
  </div>
</div>

<div class="O_profileFeed">
  <% if current_profile == @profile %>
    <!-- Личный профиль -->
    <div class="W_myProfileFeedHeader">
      <button class="Q_profileFeedHeader active posts">
        <h2>Публикации <span><%= @profile.posts.count %></span></h2>
      </button>
      <button class="Q_profileFeedHeader passive items">
        <h2>Товары <span><%= @profile.items.count %></span></h2>
      </button>
    </div>
    <div class="W_profileFeedSortBtn">
      <button class="Q_feedSortBtn">
        <h4>Сортировка</h4>
      </button>
    </div>

    <!-- Сортировка -->
    <%= render partial: "posts/sort" %>

    <!-- Лента постов -->
    <div class="C_profileFeedPosts compact" data-sort="<%= params[:sort] || 'new' %>">
      <%= render partial: "posts/post", collection: @posts, as: :post %>
    </div>

    <!-- Лента товаров -->
    <div class="C_profileFeedItems" style="display: none;" data-sort="<%= params[:sort] || 'new' %>">
      <%= render partial: "items/item", collection: @items, as: :item %>
    </div>

  <% else %>
    <!-- Чужой профиль -->
    <div class="W_profileFeedHeader">
      <div class="Q_profileFeedHeader active posts">
        <h2>Публикации <span><%= @profile.posts.count %></span></h2>
      </div>
      <button class="Q_feedSortBtn">
        <h4>Сортировка</h4>
      </button>
      <!-- Сортировка -->
      <%= render partial: "posts/sort" %>
    </div>

    <!-- Только посты -->
    <div class="C_profileFeedPosts compact" data-sort="<%= params[:sort] || 'new' %>">
      <%= render partial: "posts/post", collection: @posts, as: :post %>
    </div>
  <% end %>
</div>