<% content_for :title, "TUMBA | #{@profile.name}" %>
<div class="O_profileHeader">
  <img class="Q_profileAvatar" src="<%= @profile.avatar_url %>" alt="">
  <div class="M_profileInfo">
    <div class="Q_profileInfo">
      <h1><%= @profile.name %></h1>
      <h4><%= @profile.username %></h4>               
    </div>
<% if current_user == @profile.user %>
  <%= link_to profile_settings_path, class: "Q_editProfileBtn" do %>
    <h3>Редактировать профиль</h3>
    <div>
      <img src="<%= asset_path('edit_w.svg') %>" alt="Редактировать">
    </div>
  <% end %>
<% else %>
  <% if current_user && current_user != @profile.user %>
    <% if current_user.following?(@profile.user) %>
      <%= button_to 'Отписаться', unfollow_profile_path(@profile), method: :delete, class: 'Q_unSubscribeBtn' %>
    <% else %>
      <%= button_to 'Подписаться', follow_profile_path(@profile), method: :post, class: 'Q_subscribeBtn' %>
    <% end %>
  <% end %>
<% end %>
    <div class="C_subscriptionsInfo">
      <div class="W_subscribe">
        <h3 class="Q_subscriptionsCounter"><%= @profile.user.followed_users.count %></h3>
        <h3 class="Q_sunscribeText">подписок</h3>
      </div>
      <div class="Q_subscribeLine"></div>
      <div class="W_subscribe">
        <h3 class="Q_subscribersCounter"><%= @profile.user.followers.count %></h3>
        <h3 class="Q_sunscribeText">подписчиков</h3>
      </div>
    </div>
  </div>
</div>

<div class="O_profileFeed">
  <% if current_user == @profile.user %>
    <div class="W_myProfileFeedHeader">
      <button class="Q_profileFeedHeader active posts">
        <h2>Публикации <span><%= @profile.user.posts.count %></span></h2>
      </button>
      <button class="Q_profileFeedHeader passive items">
        <h2>Товары <span><%= @profile.user.items.count %></span></h2>
      </button>
    </div>
    <div class="W_profileFeedSortBtn">
      <button class="Q_feedSortBtn">
        <h4>Сортировка</h4>
      </button>
    </div>

    <%= render partial: "posts/sort" %>

    <div class="C_profileFeedPosts compact" data-sort="<%= params[:sort] || 'new' %>">
      <%= render partial: "posts/post", collection: @posts, as: :post %>
    </div>

    <div class="C_profileFeedItems" style="display: none;" data-sort="<%= params[:sort] || 'new' %>">
      <%= render partial: "items/item", collection: @items, as: :item %>
    </div>

  <% else %>
    <div class="W_profileFeedHeader">
      <div class="Q_profileFeedHeader active posts">
        <h2>Публикации <span><%= @profile.user.posts.count %></span></h2>
      </div>
      <button class="Q_feedSortBtn">
        <h4>Сортировка</h4>
      </button>
      <%= render partial: "posts/sort" %>
    </div>

    <div class="C_profileFeedPosts compact" data-sort="<%= params[:sort] || 'new' %>">
      <%= render partial: "posts/post", collection: @posts, as: :post %>
    </div>
  <% end %>
</div>