<% content_for :title, "Homie" %>
<div class="O_profileHeader">
  <img class="Q_profileAvatar" src="<%= current_profile.avatar_url %>" alt="">
  <div class="M_profileInfo">
    <div class="Q_profileInfo">
      <h1><%= current_profile.name %></h1>
      <h4><%= current_profile.username %></h4>               
    </div>
<% if current_profile == @profile %>
  <!-- Кнопка "Редактировать профиль" -->
  <button class="Q_editProfileBtn">
    <h3>Редактировать профиль</h3>
    <div>
      <img src="<%= asset_path('edit_w.svg') %>" alt="Редактировать">
    </div>
  </button>
<% else %>
  <!-- Кнопка "Подписаться" -->
  <button class="Q_subscribeBtn">
    <h3>Подписаться</h3>
  </button>
<% end %>
    <div class="C_subscriptionsInfo">
      <div class="W_subscribe">
        <h3 class="Q_subscriptionsCounter">0</h3>
        <h3 class="Q_sunscribeText">подписок</h3>
      </div>
      <div class="Q_subscribeLine"></div>
      <div class="W_subscribe">
        <h3 class="Q_subscribersCounter">0</h3>
        <h3 class="Q_sunscribeText">подписчиков</h3>
      </div>
    </div>
  </div>
</div>

<div class="O_profileFeed">
  <div class="W_profileFeedHeader">
    <button class="Q_profileFeedHeader active posts">
      <h2>Публикации <span><%= @profile.posts.count %></span></h2>
    </button>
    <button class="Q_profileFeedHeader passive items">
      <h2>Товары <span><%= @profile.items.count %></span></h2>
    </button>
  </div>
</div>