<% content_for :title, "Homie" %>
<div class="S_profileHeader">
  <div class="M_profileInfo">
      <img class="Q_profileAvatar" src="<%= current_profile.avatar_url %>" alt="">
      <h2><%= current_profile.name %></h2>
      <h6><%= current_profile.username %></h6>               
  </div>
  <div class="W_profileStatistics">
    <img src="<%= asset_path('profile/lineStatistics.svg') %>" alt="line">
    <div class="Q_profileStat">
      <% profile_posts_count = current_profile.posts.count %>
      <h3><%= profile_posts_count %></h3>
      <h5><%= Russian.p(profile_posts_count, 'пост', 'поста', 'постов') %></h5>
    </div>
    <img src="<%= asset_path('profile/lineStatistics.svg') %>" alt="line">
  </div>
</div>

<div class="S_profileFeed">
  <div class="W_feedToggle">
    <button id="userPostsBtn" class="Q_feedToggleBtn active">Мои посты</button>
    <button id="likedPostsBtn" class="Q_feedToggleBtn">Избранное</button>
  </div>
  <!-- Лента с постами пользователя -->
  <div id="userPostsFeed" class="C_profileFeed active">
    <% @posts.each do |post| %>
      <%= link_to post, class: "post-link" do %>
        <%= render partial: "posts/post", object: post %>
      <% end %>
    <% end %>
  </div>

  <!-- Лента с лайкнутыми постами -->
  <div id="likedPostsFeed" class="C_profileFeed">
    <% @liked_posts.each do |post| %>
      <%= link_to post, class: "post-link" do %>
        <%= render partial: "posts/post", object: post %>
      <% end %>
    <% end %>
  </div>
</div>