<section class="S_firstRegistrationStep">
<div class="A_regHeader">
  <h1 class="Q_regTitle">Регистрация</h1>
  <h3 class="Q_regDescription">Введите свои данные для создания аккаунта</h3>
</div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, data: { turbo: false, remote: true } }) do |f| %>
    <div class="C_regInputs">
      <!-- Поле для почты -->
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "Q_regInput", placeholder: "EMAIL" %>

      <!-- Поле для пароля -->
      <%= f.password_field :password, autocomplete: "new-password", class: "Q_regInput", placeholder: "ПАРОЛЬ" %>

      <!-- Поле для подтверждения пароля -->
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "Q_regInput", placeholder: "ПОДТВЕРЖДЕНИЕ ПАРОЛЯ" %>
    </div>

    <div class="C_regActions">
      <h4 class="Q_regCaption">Нажимая кнопку «Продолжить», вы соглашаетесь на обработку персональных данных</h4>      
      <!-- Кнопка "Регистрации" -->
      <%= f.submit "Продолжить", class: "Q_regButton Q_regSubmit" %>
      <h3 class="Q_logInRedirect">У вас уже есть аккаунт? <%= link_to "Войти", new_session_path(resource_name), class: "Q_logInRedirectLink" %></h3>
    </div>
  <% end %>
</section>

<section class="S_secondRegistrationStep">
  <div class="A_regHeader">
    <h1 class="Q_regTitle">Расскажите о себе</h1>
    <h3 class="Q_regDescription">Давайте знакомиться! Добавьте фото и заполните анкету:</h3>
  </div>
  
  <%= form_for(@profile || Profile.new, url: update_profile_path, method: :patch, scope: :profile, html: { multipart: true, data: { remote: true } }) do |f| %>


    <div class="C_regInputs">
      <div class="A_uploadAvatar">
        <label for="avatar_upload" class="Q_avatarPreview">
          <span class="placeholder">+</span>
          <img src="" alt="Avatar Preview" class="Q_avatarImgUpload hidden" />
        </label>
        <%= f.file_field :avatar_url, id: "avatar_upload", class: "hidden" %>
      </div>

      <!-- Поле для Имени -->
      <%= f.text_field :name, class: "Q_regInput", placeholder: "ИМЯ" %>

      <!-- Поле для Никнейма -->
      <%= f.text_field :username, class: "Q_regInput", placeholder: "НИКНЕЙМ" %>
    </div>

    <div class="C_regActions">
      <!-- Кнопка "Продолжить" -->
      <%= f.submit "Зарегестрироваться", class: "Q_regButton Q_regSubmit" %>

      <!-- Кнопка "Пропустить" -->
      <%= link_to "Пропустить", root_path, class: "Q_logInRedirect" %>
    </div>
  <% end %>
</section>