<section class="S_firstRegistrationStep">
  <h3 class="Q_regNumber">1</h3>
  <h3 class="Q_regTitle">Регистрация</h3>
  <p class="Q_regDescription">Заполните данные<br>для создания аккаунта</p>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, data: { turbo: false, remote: true } }) do |f| %>
    <div class="C_regInputs">
      <!-- Поле для почты -->
      <div class="A_regInputField">
        <%= f.label :email, "Email", class: "Q_regLabel" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "Q_regInput" %>
      </div>

      <!-- Поле для пароля -->
      <div class="A_regInputField">
        <%= f.label :password, "Пароль", class: "Q_regLabel" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "Q_regInput" %>
      </div>

      <!-- Поле для подтверждения пароля -->
      <div class="A_regInputField">
        <%= f.label :password_confirmation, "Подтверждение пароля", class: "Q_regLabel" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "Q_regInput" %>
      </div>
    </div>

    <div class="C_regActions">
      <!-- Кнопка "Зарегистрироваться" -->
      <%= f.submit "Зарегистрироваться", class: "Q_regButton Q_regSubmit" %>
      <!-- Кнопка "Отменить" -->
      <%= link_to "Отменить", root_path, class: "Q_regButton Q_regSkip" %>
    </div>
  <% end %>
</section>

<section class="S_secondRegistrationStep">
  <h3 class="Q_regNumber">2</h3>
  <h3 class="Q_regTitle">Расскажите о себе</h3>
  <p class="Q_regDescription">Давайте познакомимся!<br>Заполните анкету:</p>
  
  <%= form_for(@profile || Profile.new, url: update_profile_path, method: :patch, scope: :profile, html: { multipart: true, data: { remote: true } }) do |f| %>


    <div class="C_regInputs">
      <div class="A_uploadAvatar">
        <label for="avatar_upload" class="Q_avatarPreview">
          <span class="placeholder">+</span>
          <img src="" alt="Avatar Preview" class="Q_avatarImgUpload hidden" />
        </label>
        <%= f.file_field :avatar_url, id: "avatar_upload", class: "hidden" %>
      </div>

      <!-- Поле для Имени -->
      <div class="A_regInputField">
        <%= f.label :name, "Имя", class: "Q_regLabel" %>
        <%= f.text_field :name, class: "Q_regInput", placeholder: "Введите ваше имя" %>
      </div>

      <!-- Поле для Никнейма -->
      <div class="A_regInputField">
        <%= f.label :username, "Никнейм", class: "Q_regLabel" %>
        <%= f.text_field :username, class: "Q_regInput", placeholder: "Введите никнейм" %>
      </div>
    </div>

    <div class="C_regActions">
      <!-- Кнопка "Продолжить" -->
      <%= f.submit "Продолжить", class: "Q_regButton Q_regSubmit" %>

      <!-- Кнопка "Пропустить" -->
      <%= link_to "Пропустить", root_path, class: "Q_regButton Q_regSkip" %>
    </div>
  <% end %>
</section>