<div class="postComment">
    <div class="commentCreator" >
        <img class="avatarImg" src="<%= current_user.avatar_url %>" alt="">
        <div>
            <h5><%= current_user.profile_name %></h5>
            <h6><%= current_user.username %></h6>
        </div>
    </div>

    <div class="commentText" >
      <p>
        <%= comment.body %>
      </p>
      <div>
        <h6 class="createdAt"> <%= comment.created_at.strftime("%d.%m.%Y") %> </h6>
        <% if can?(:destroy, comment) %>
            <%= button_to [comment.post, comment], method: :delete, class: "deleteCommentButton", data: { confirm: "Вы уверены, что хотите удалить комментарий?" } do %>
              <img src="<%= asset_path('delete.png') %>" alt="Delete" class="actionIcon">
            <% end %>
        <% end %>
      </div>

    </div>
</div>