<section class="aboutCover">
    <img src="<%= asset_path('welcome/about_cover.png') %>" alt="">
    <h2>for ur home</h2>
    <h1>homie</h1>
</section>

<section class="aboutProjectInfo">
    <p>homie — медиа-сервис с готовыми интерьерными подборками. Он дает возможность делиться подборками предметов интерьера, прикрепляя ссылки на товары, что помогает сделать поиск товаров простым и понятным.</p>
    <div class="cards">
        <div>
            <img src="<%= asset_path('welcome/info_card5.png') %>" alt="">
            <img src="<%= asset_path('welcome/info_card1.png') %>" alt="">
            <img src="<%= asset_path('welcome/info_card4.png') %>" alt="">
        </div>
        <div>
            <img src="<%= asset_path('welcome/info_card3.png') %>" alt="">
            <img src="<%= asset_path('welcome/info_card2.png') %>" alt="">
        </div>
    </div>
</section>

<section class="aboutProblems">
    <h2>Проблемы</h2>
    <div class="problems">
        <div>
            <p>Сложность в создании и обмене подборками интерьеров</p>
            <h1>01</h1>
        </div>
        <div>
            <p>Недостаток готовых решений для оформления интерьеров комнат</p>
            <h1>02</h1>
        </div>
        <div>
            <p>Трудности с поиском, а также покупкой понравившихся предметов</p>
            <h1>03</h1>
        </div>   
    </div>
</section>

<section class="aboutSolution">
    <div class="solutionText">
        <h2>Решение</h2>
        <p>Платформа, на которой люди могут легко находить идеи для интерьеров. Пользователи могут загружать фотографии интерьеров, которые им понравились, а также добавлять ссылки на товары, использованные в этих интерьерах</p>
    </div>
    <div class="solutionImage">
        <img src="<%= asset_path('welcome/solution.png') %>" alt="">
    </div>
</section>

<section class="aboutFunctions">
    <h2>Функции</h2>
    <p>Персонализация ленты</p>
    <p>Ссылки на товары</p>
    <p>Кастомность и теги</p>
    <p>Создание своих подборок</p>
    <p>Сохранение подборок</p>
    <img src="<%= asset_path('welcome/functions.png') %>" alt="">
</section>

<section class="aboutSocials">
    <h2>Наши соц-сети</h2>
    <p>Подпишитесь на соц-сети homie, чтобы <br> всегда быть в курсе наших обновлений!</p>
    <div class="socials">
        <div class="wrapper"> </div>
        <div class="social">
            <img class="icon" src="<%= asset_path('welcome/dzen_icon.png') %>" alt="">
            <img class="qr" src="<%= asset_path('welcome/dzen_qr.png') %>" alt="">
        </div>
        <div class="social">
            <img class="icon" src="<%= asset_path('welcome/vk_icon.png') %>" alt="">
            <img class="qr" src="<%= asset_path('welcome/vk_qr.png') %>" alt="">
        </div>
    </div>
</section>
