<section class="welcome">
  <h1 class="welcomeNaming">homie</h1>
  <h1 class="welcomeText">for ur home</h1>

    <div class="cards">
      <div class="card one" data-delay="0s"> 
        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar2.jpg') %>" alt="">
          <div>
              <h5>Allise Alov </h5>
              <h6>@alllllise.e </h6>
          </div>
        </div>
      </div>

      <div class="card three" data-delay="0.7s"> 
        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar3.jpg') %>" alt="">
          <div>
              <h5>Marg.o</h5>
              <h6>@margo_sha</h6>
          </div>
        </div>
        <img class="cardDots" src="<%= asset_path('welcome/card_dots2.png') %>" alt="">
      </div>

      <div class="card two" data-delay="1.4s"> 
        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar1.jpg') %>" alt="">
          <div>
              <h5>ALex’x</h5>
              <h6>@alex.00</h6>
          </div>
        </div>
        <img class="cardDots" src="<%= asset_path('welcome/card_dots1.png') %>" alt="">
      </div>

    </div>

    <div class="welcomeInfo">
      <h1><span>homie —</span> <br> интерьер <span>&</span> союзники</h1>
      <p>Мы создаем сообщество, в котором каждый может найти для себя свой <span>«уютный»</span> интерьер, а также узнатьвизуальный мир других людей</p>

        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar4.jpg') %>" alt="">
          <div>
              <h5>Markus</h5>
              <h6>@mar_kus</h6>
          </div>
        </div>

        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar5.jpg') %>" alt="">
          <div>
              <h5>Al_la</h5>
              <h6>@alla</h6>
          </div>
        </div>

        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar6.jpg') %>" alt="">
          <div>
              <h5>Satii</h5>
              <h6>@ssaties</h6>
          </div>
        </div>
        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar7.jpg') %>" alt="">
          <div>
              <h5>Lena</h5>
              <h6>@lenna</h6>
          </div>
        </div>

        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar8.jpg') %>" alt="">
          <div>
              <h5>Anna</h5>
              <h6>@annia</h6>
          </div>
        </div>

        <div class="userInfo">
          <img class="avatarImg" src="<%= asset_path('welcome/avatar9.jpg') %>" alt="">
          <div>
              <h5>Vladis</h5>
              <h6>@vladisslav</h6>
          </div>
        </div>
    </div>

</section>

<section class="callsToAction">
  <div class="actionCard">
    <h2 class="number">1</h2>
    <h2>Делитесь</h2>
    <p>Создавайте новые <br> подборки, делясь <br> своим интерьером</p>
  </div>

  <div class="actionCard">
    <h2 class="number">2</h2>
    <h2>Помогайте</h2>
    <p>Оставляйте ссылки <br> на товары, чтобы <br> облегчить их поиск </p>
  </div>

  <div class="actionCard">
    <h2 class="number">3</h2>
    <h2>Вдохновляйтесь</h2>
    <p>Исследуйте работы <br> других авторов, а также <br> взаимодействуйте с ними</p>
  </div>
</section>

<section class="newsletter">
  <h1>Не пропустите запуск!</h1>
  <div>
    <img class="newsletterImage" src="<%= asset_path('welcome/subscription.png') %>" alt="">
    <div id="newsletterForm">
      <%= render 'newsletter_subscriptions/form' %>
    </div>
  </div>
</section>

<%= api_v1_posts_url %>


