
<h1 class="Q_settingsTitle">Личная информация</h1>

<%= form_with model: current_user.profile, url: update_profile_path, local: true, html: { class: "W_settingsForm" } do |f| %>
    <div class="C_settingsInputs">
    <!-- Аватарка -->

    <div class="A_settingsEditAvatar">
      <label for="edit_avatar_image_upload" class="Q_editAvatarPreview">
        <span class="placeholder <%= current_user.profile.avatar_url.present? ? 'hidden' : '' %>">+</span>
        <img src="<%= current_user.profile.avatar_url.url %>" alt="Avatar Preview" class="Q_editAvatarImgUpload <%= current_user.profile.avatar_url.present? ? '' : 'hidden' %>" />
      </label>
      <%= f.file_field :avatar_url, id: "edit_avatar_image_upload", class: "hidden", accept: "image/*" %>
    </div>


    <!-- Никнейм -->
    <div class="M_settingsFormField">
      <%= f.label :username, "Никнейм", class: "Q_settingsLabel" %>
      <%= f.text_field :username, class: "Q_settingsInput" %>
    </div>

    <!-- Имя -->
    <div class="M_settingsFormField">
      <%= f.label :name, "Имя", class: "Q_settingsLabel" %>
      <%= f.text_field :name, class: "Q_settingsInput" %>
    </div>
    </div>

    <!-- Кнопки -->
    <div class="C_settingsFormBtns" data-profile-actions>
      <%= f.submit "Сохранить изменения", class: "Q_settingsSaveBtn" %>
      <%= link_to "Сбросить", request.path, class: "Q_settingsResetBtn" %>
    </div>

  <% end %>
