<section class="S_logIn">
  <h1 class="Q_logInTitle">АВТОРИЗАЦИЯ</h1>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { multipart: true, class: "O_loginForm" }) do |f| %>
    <div class="C_logInInputs">
      <!-- Поле для почты -->
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "Q_logInInput", placeholder: "EMAIL ИЛИ ЛОГИН" %>
      <!-- Поле для пароля -->
      <%= f.password_field :password, autocomplete: "current-password", class: "Q_logInInput", placeholder: "ПАРОЛЬ" %>

        <% if devise_mapping.rememberable? %>
          <div class="A_logInRemember">
            <%= f.check_box :remember_me, class: "Q_logInRememberCheck" %>
            <%= f.label :remember_me, "Запомнить меня"%>
          </div>
        <% end %>
    </div>

    <div class="C_logInActions">
      <!-- Кнопка "Войти" -->
      <%= f.submit "Войти", class: "Q_logInButton Q_logInSubmit" %>
      <h3 class="Q_logInRedirect">У вас еще нет аккаунта? <%= link_to "Зарегистрироваться", new_registration_path(resource_name), class: "Q_logInRedirectLink" %></h3>
    </div>
  <% end %>
</section>
  