<div class="M_followsCard" id="user_<%= user.id %>">
<%= link_to profile_path(user.profile), class: "A_followsCard" do %>
    <%= image_tag(user.profile.avatar_url.url || "profile/defaultAvatar.jpg", alt: "", class: "Q_followsAvatar") %>

    <div class="A_followsInfo">
      <p class="Q_name"><%= user.profile.name %></p>
      <h4 class="Q_username"><%= user.profile.username %></h4>
    </div>
  <% end %>

  <% if user != current_user %>
    <div id="follow_btn_user_<%= user.id %>">
      <%= render partial: "follows/follow_button", locals: { user: user } %>
    </div>
  <% end %>
</div>
