<div id="<%= dom_id item %>" class="O_item", style="background-image: url('<%= item.image_url %>');">
  <div class="W_itemContent">
    <h5><%= number_to_currency(item.price, unit: "руб.", format: "%n %u", precision: 0) %></h5>
    <img class="Q_marketIcon" src="<%= item.market_icon_url %>" alt="">
  </div>
    <% if controller_name == 'items' && action_name == 'index' %>
      <% if can?(:destroy, item) %>
          <%= button_to item, method: :delete, class: "deleteButton", data: { confirm: "Are you sure?" } do %>
            <img src="<%= asset_path('delete.png') %>" alt="Delete" class="actionIcon">
          <% end %>
      <% end %>
  <% end %>
</div>