<div id="<%= dom_id post %>" class="O_post">
    <!-- Изображение поста -->
    <img class="Q_postPartialImage" src="<%= post.image_url %>" alt="Post Image">
    <%= link_to post_path(post), class: "post-link" do %>
      <div class="Q_postPartialShading"></div>
    <% end %>

    <!-- Блок с выбором коллекции и кнопкой сохранения (только для авторизованных пользователей) -->
     <% if user_signed_in? %>
    <div class="W_saveHeader postPartial">
      <div class="A_selectedCollection"
          data-collection-id="<%= @selected_collection&.id || current_user.collections.find_by(title: 'Все идеи')&.try(:id) %>"
          data-post-id="<%= post.id %>">
        <p class="Q_selectedCollectionName">
          <%= truncate(@selected_collection&.title || "Все идеи", length: 15, separator: ' ', omission: '...') %> 
        </p>
        <img src="<%= asset_path('dropdownIcon_W.svg') %>" alt="Toggle dropdown">
      </div>

      <% saved = current_user.collections.joins(:posts).exists?(posts: { id: post.id }) %>

      <!-- Основная кнопка с текстом -->
      <button class="A_saveToCollectionBtn <%= 'saved' if saved %>" data-save-button="text">
        <%= saved ? "Сохранено" : "Сохранить" %>
      </button>

      <!-- Компактная кнопка с иконкой -->
      <button class="A_saveToCollectionBtnCompact <%= 'saved' if saved %>" data-save-button="icon">
        <img src="<%= asset_path(saved ? 'savedIcon.svg' : 'saveIcon.svg') %>" alt="Save Icon" class="Q_saveIcon">
      </button>
    </div>

    <!-- Выпадающий список с коллекциями -->
    <div class="W_collectionDropdown dropdown postPartial">
      <input type="text" class="Q_collectionSearch" placeholder="Поиск...">
      <div class="C_collectionList">
        <% current_user.collections.each do |collection| %>
          <div class="A_collectionObj" data-collection-id="<%= collection.id %>">
            <img src="<%= collection.cover_image_url %>" alt="Обложка коллекции">

            <h3><%= collection.title %></h3>
          </div>
        <% end %>
      </div>
      <div class="A_addCollectionBtn">
        <img src="<%= asset_path('addCollectionIcon.svg') %>">
        <h3>Новая коллекция</h3>
      </div>
    </div>
  <% end %>

  <!-- Заголовок и автор -->
  <div class="W_postPartialDetails">
      <p class="Q_postPartialTitle"><%= post.title %></p>
      <%= link_to profile_path(post.user.profile), class: "A_postPartialCreator" do %>
        <img class="Q_postPartialAvatar" src="<%= post.user.profile.avatar_url %>" alt="Avatar">
        <h6 class="Q_postPartialName"><%= post.user.profile.username %></h6>
      <% end %>
  </div>
</div>