<div id="<%= dom_id post %>" class="O_post" style="background-image: url('<%= post.image_url %>');">
    <div class="A_postCreator" >
        <img class="Q_avatarImg" src="<%= post.profile.avatar_url %>" alt="">
        <div class="Q_postName">
            <h5><%= post.profile.name %></h5>
            <h6><%= post.profile.username %></h6>
        </div>
    </div>
</div>
