<div id="<%= dom_id post %>" class="post" style="background-image: url('<%= post.image_url %>');">
    <div class="postCreator" >
        <img class="avatarImg" src="<%= post.user.avatar_url %>" alt="">
        <div>
            <h5><%= post.user.profile_name %></h5>
            <h6><%= post.user.username %></h6>
        </div>
    </div>
</div>
