<!-- Блок 1: Крупный заголовок и логотип -->
<section class="S_guestWelcome">
  <img class="Q_welcomeCover" src="<%= asset_path('welcomeImg1.png') %>" alt="Посты">
  <h1 class="Q_welcomeDesc">
    СЕРВИС ИНТЕРЬЕРНЫХ ПОДБОРОК С ПРЯМЫМИ ССЫЛКАМИ НА ТОВАРЫ
  </h1>
  <h1 class="Q_welcomeLogo">TUMBA</h1>
</section>

<!-- Блок 2: Подзаголовок и описание -->
<section class="S_guestWelcome2">
  <h1 class="Q_welcomeSubtitle">Захотелось повторить интерьер с картинки?</h1>
  <h1 class="Q_welcomeTitle">TUMBA поможет с этим!</h1>
  <p class="Q_welcomeAbout">
    Медиа-сервис с готовыми интерьерными решениями для дома, а самое главное с ссылками на товары, чтобы создать дом мечты было просто и быстро
  </p>
</section>

<!-- Блок 3: Изображение постов -->
<section class="S_guestWelcome3">
  <img class="Q_welcomePosts desktop" src="<%= asset_path('welcomeImg2.png') %>" alt="Посты">
  <img class="Q_welcomePosts mobile" src="<%= asset_path('welcomeImg5.png') %>" alt="Посты">
</section>

<!-- Блок 4: Фоновое изображение и ключевые фичи -->
<section class="S_guestWelcome4">
  <img class="Q_welcomeBack desktop" src="<%= asset_path('welcomeImg3.png') %>" alt="Посты">
  <img class="Q_welcomeBack mobile" src="<%= asset_path('welcomeImg6.png') %>" alt="Посты">

  <!-- Тексты преимуществ -->
  <p class="Q_welcomeText1">Вдохновляйся<br>и открывай для себя<br>мир интерьерного<br>дизайна</p>
  <p class="Q_welcomeText2">Быстро переходи<br>к покупке</p>
  <p class="Q_welcomeText3">Делись своими<br>идеями с комьюнити</p>

  <!-- Теги -->
  <p class="Q_welcomeCaptn">Удобный поиск<br>по тегам</p>
  <div class="C_welcomeTags">
    <p class="Q_tag">кухня</p>
    <p class="Q_tag">лофт</p>
    <p class="Q_tag">постер</p>
    <p class="Q_tag">ковер</p>
    <p class="Q_tag">светильник</p>
    <p class="Q_tag">мидсенчури</p>
    <p class="Q_tag">стеллаж</p>
  </div>
</section>

<!-- Блок 5: Призыв и кнопки -->
<section class="S_guestWelcome5">
  <img class="Q_welcomeBack2" src="<%= asset_path('welcomeImg4.png') %>" alt="Посты">
  <h1 class="Q_welcomeCallOut">
    Присоединяйся к нам, чтобы создавать красоту вокруг себя!
  </h1>
  <div class="C_welcomeBtns">
    <%= link_to new_user_registration_path, class: "Q_welcomeReg" do %>
      Зарегистрироваться
    <% end %>
    <%= link_to new_user_session_path, class: "Q_welcomeSign" do %>
      войти
    <% end %>
  </div>
</section>
