<section class="S_guestWelcome">
    <h1 class="Q_welcomeLogo">TUMBA</h1>
    <h2 class="Q_welcomeSubtitle">ХРАНИМ ЛУЧШИЕ ИНТЕРЬЕРНЫЕ ИДЕИ ДЛЯ ВАШЕГО ДОМА И ОБЛЕГЧАЕМ ПОИСК СТИЛЬНЫХ ТОВАРОВ</h2>
    <h2 class="Q_welcomeAbout"><span>TUMBA</span> — медиа-сервис с готовыми стилистическими решениями для дома, а самое главное с ссылками на товары, чтобы создать дом мечты было просто и быстро</h2>
    <img src="<%= asset_path('welcome/1.png') %>" alt="Картинка" class="Q_welcomeImg1">
    <img src="<%= asset_path('welcome/2.png') %>" alt="Картинка" class="Q_welcomeImg2">
    <img src="<%= asset_path('welcome/3.png') %>" alt="Картинка" class="Q_welcomeImg3">
</section>

<section class="S_guestWelcome2">
    <h1 class="Q_welcomeTitle">СЕЙЧАС ПОПУЛЯРНО</h1>
    <div class="W_welcomePopular">
        <h2 class="Q_welcomeSubtitle2">Следите за трендами в интерьерном дизайне и вдохновляйтесь на создание красивого пространства вокруг себя</h2>
        <div class="C_welcomePopularImgs">
            <img src="<%= asset_path('welcome/4.png') %>" alt="Картинка" class="Q_welcomeImg4">
            <img src="<%= asset_path('welcome/5.png') %>" alt="Картинка" class="Q_welcomeImg5">
            <img src="<%= asset_path('welcome/6.png') %>" alt="Картинка" class="Q_welcomeImg6">
        </div>
    </div>
</section>

<section class="S_guestWelcome3">
    <div class="W_welcomeTagsHeader">
        <h1 class="Q_welcomeTitle">ТЕГИ</h1>
        <h2 class="Q_welcomeSubtitle3">Для удобного и быстрого поиска по вашему конкретному запросу</h2>
    </div>
    <div class="C_welcomeTags">
        <h4 class="Q_tag">ПОСТЕР</h4>
        <h4 class="Q_tag">КОВЕР</h4>
        <h4 class="Q_tag">СВЕТИЛЬНИК</h4>
        <h4 class="Q_tag">СПАЛЬНЯ</h4>
        <h4 class="Q_tag">СТЕЛЛАЖ</h4>
        <h4 class="Q_tag">МАКСИМАЛИЗМ</h4>
        <h4 class="Q_tag">ПОСУДА</h4>
        <h4 class="Q_tag">ПРИХОЖАЯ</h4>
        <h4 class="Q_tag">ЗЕРКАЛО</h4>
    </div>
</section>

<section class="S_guestWelcome4">
        <img src="<%= asset_path('welcome/7.png') %>" alt="Картинка" class="Q_welcomeImg7">
        <h1 class="Q_welcomeTitle2">НОВОЕ В TUMBA</h1>
        <h2 class="Q_welcomeSubtitle4">Сохраняйте себе новые подборки и товары и делитесь своими с другими пользователями</h2>
        <h1 class="Q_welcomeTitle3">Присоединяйтесь к нам, чтобы <br> создавать красоту вокруг себя <br> вместе!</h1>
        <%= link_to new_user_registration_path, class: "Q_welcomeReg" do %>
            Регистрация
        <% end %>
        <%= link_to new_user_session_path, class: "Q_welcomeSign" do %>
            войти
        <% end %>

</section>