<% content_for :title, "TUMBA" %>

<!-- Кнопки для сортировки и фильтрации, а также переключения лейаутов -->
<%= render "posts/feed_header" %>

<!-- Лоадер -->
<div id="postsLoader" class="posts-loader hidden">
  <div class="spinner"></div>
</div>

<!-- Лента с постами -->
<% if @filter_param == "following" && @following_empty %>
  <%= render "posts/empty_following" %>

<% elsif @posts.empty? && params[:query].present? %>
  <%= render "posts/empty_search", query: params[:query] %>

<% else %>
  <div id="C_postsFeed" data-sort="<%= params[:sort] || 'new' %>">
    <% @posts.each do |post| %>
      <%= render partial: "posts/post", locals: { post: post } %>
    <% end %>
  </div>
<% end %>

<!-- Паршиалы сортировки и фильтра -->
<%= render "posts/sort" %>
<%= render "posts/filter" %>