<div class="S_postContent">
  <div class="O_postImages">
    <div class="W_postActions">
      <button class="Q_back" onclick="history.back()">
        <img src="<%= asset_path('backArrowIcon_b.svg') %>" alt="Стрелка назад">
      </button>
    </div>
    <img class="Q_postCover" src="<%= @post.image_url %>" alt="Post cover">
  </div>
  <div class="O_postInfo">
  <% if user_signed_in? %>
    <div class="W_saveHeader post">
      <div class="A_selectedCollection"
          data-collection-id="<%= @selected_collection&.id || current_user.profile.collections.find_by(title: 'Все идеи')&.try(:id) %>"
          data-post-id="<%= @post.id %>">
        <p class="Q_selectedCollectionName">
          <%= truncate(@selected_collection&.title || "Все идеи", length: 15, separator: ' ', omission: '...') %> 
        </p>
        <img src="<%= asset_path('dropdownIcon_W.svg') %>" alt="Toggle dropdown">
      </div>

      <% saved = current_user.profile.collections.joins(:posts).exists?(posts: { id: @post.id }) %>

      <!-- Основная кнопка с текстом -->
      <button class="A_saveToCollectionBtn <%= 'saved' if saved %>" data-save-button="text">
        <%= saved ? "Сохранено" : "Сохранить" %>
      </button>

      <!-- Компактная кнопка с иконкой -->
      <button class="A_saveToCollectionBtnCompact <%= 'saved' if saved %>" data-save-button="icon">
        <img src="<%= asset_path(saved ? 'savedIcon.svg' : 'saveIcon.svg') %>" alt="Save Icon" class="Q_saveIcon">
      </button>
    </div>

    <!-- Выпадающий список с коллекциями -->
    <div class="W_collectionDropdown dropdown post">
      <input type="text" class="Q_collectionSearch" placeholder="Поиск...">
      <div class="C_collectionList">
        <% current_user.profile.collections.each do |collection| %>
          <div class="A_collectionObj" data-collection-id="<%= collection.id %>">
            <img src="<%= collection.image_url %>" alt="Обложка коллекции">
            <h3><%= collection.title %></h3>
          </div>
        <% end %>
      </div>
      <div class="A_addCollectionBtn">
        <img src="<%= asset_path('addCollectionIcon.svg') %>">
        <h3>Новая коллекция</h3>
      </div>
    </div>
  <% end %>

    <div class="W_postInfo">
      <h4 class="Q_postDate">
        <%= I18n.l(@post.created_at, format: "%-d %B, %Y", locale: :ru) %>
      </h4>
      <h1 class="Q_postTitle"><%= @post.title %></h1>
      <p class="Q_postDescription"><%= @post.description %></p>
      <% if @post.tag_list.any? %>
        <div class="C_postTags">
          <% @post.tag_list.each do |tag| %>
            <h4 class="Q_tag"><%= tag %></h4>
          <% end %>
        </div>
        <% else %>
        <p>Теги отсутствуют.</p>
      <% end %>
      
      <div class="W_postHead">
        <%= link_to profile_path(@post.profile), class: "A_postCreator" do %>
          <img class="Q_postAvatar" src="<%= @post.profile.avatar_url %>" alt="Avatar">
          <h6 class="Q_postName"><%= @post.profile.username %></h6>
        <% end %>
        <div class="W_postSocActions">
          <%= render partial: "like/button", locals: { likeable: @post } %>
          <button class="Q_actionPostBtn">
            <img src="<%= asset_path('shareIcon_b.svg') %>" alt="Поделиться">
          </button>
          <% if can? :manage, @post %>
            <%= link_to edit_post_path(@post), class: "Q_actionPostBtn" do %>
              <img src="<%= asset_path('edit.png') %>" alt="Edit">
            <% end %>
            <%= button_to post_path(@post), method: :delete, class: "Q_actionPostBtn", data: { confirm: "Вы уверены?" } do %>
              <img src="<%= asset_path('delete.png') %>" alt="Delete">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="S_postItems">
  <h2 class="Q_postHeader">Товары</h2>
  <div class="C_postItems">
    <%= render @post.items %>
  </div>
</div>

<div class="S_postComments">
  <h2 class="Q_postHeader">Комментарии <span><%= "#{@post.comments.size}" %></span></h2>
  <div class="C_postCommentFeed">
    <% if @post.comments.any? %>
      <% @post.comments.not_replies.each do |comment| %>
        <%= render comment %>

        <% replies = @post.comments.where(comment_id: comment.id) %>
        <% if replies.any? %>
          <% reply_count = replies.count %>
          <button class="Q_showReplies"
                  data-comment-id="<%= comment.id %>"
                  data-reply-count="<%= reply_count %>">
            <div></div>
            <h4>Показать ответы (<%= reply_count %>)</h4>
          </button>

          <div class="C_commentReplies hidden" data-replies-for="<%= comment.id %>">
            <% replies.each do |reply| %>
              <%= render reply %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h5>Пока нет комментариев.</h5>
    <% end %>
  </div>

  <% if can? :create, Comment %>
    <%= render "comments/form", locals: { parent_comment_id: nil } %>
  <% end %>
</div>