<div class="S_postContent">
  <div class="O_postImages">
    <img class="Q_postCover" src="<%= @post.image_url %>" alt="Post cover">
  </div>
  <div class="O_postInfo">
    <div class="W_postHead">
      <div class="A_showPostCreator">
        <img class="Q_avatarImg" src="<%= @post.profile.avatar_url %>" alt="Creator Avatar">
        <div>
          <h4><%= @post.profile.name %></h4>
          <h6><%= @post.profile.username %></h6>
        </div>
      </div>
      <div class="W_postSocActions">
        <%= render partial: "like/button", locals: { likeable: @post } %>

        <% if can? :manage, @post %>
          <%= link_to edit_post_path(@post), class: "Q_actionPostBtn" do %>
            <img src="<%= asset_path('edit.png') %>" alt="Edit">
          <% end %>
          <%= button_to post_path(@post), method: :delete, class: "Q_actionPostBtn", data: { confirm: "Вы уверены?" } do %>
            <img src="<%= asset_path('delete.png') %>" alt="Delete">
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="W_postInfo">
      <h2 class="Q_postTitle"><%= @post.title %></h2>
      <% if @post.tag_list.any? %>
        <div class="C_postTags">
          <% @post.tag_list.each do |tag| %>
            <span class="Q_tag"><%= tag %></span>
          <% end %>
        </div>
      <% end %>
      <p class="Q_postDescription"><%= @post.description %></p>
    </div>
  </div>
</div>

<div class="C_postItems">
  <%= render @post.items %>
</div>

<div class="S_postComments">
  <h2 class="Q_commentsHeader">Комментарии</h2>
  <h5 class="Q_commentCounter">
    <%= "#{@post.comments.size} #{Russian.p(@post.comments.size, 'комментарий', 'комментария', 'комментариев')}" %>
  </h5>
  <div class="C_postCommentFeed">
    <% if @post.comments.any? %>
      <%# Только комментарии верхнего уровня, остальные будут вложенными %>
      <%= render @post.comments.not_replies %>
    <% else %>
      <h5>Пока нет комментариев.</h5>
    <% end %>
  </div>
  <% if can? :create, Comment %>
    <div class="addPostComment">
      <%= render "comments/form", locals: { parent_comment_id: nil } %>
    </div>
  <% end %>
</div>