<div class="S_menuBar desktop">
<% if user_signed_in? %>
  <nav class="O_menuBar">
    <div class="W_menuActions left">
      <% if user_signed_in? && can?(:create, Post) %>
        <%= link_to new_post_path, class: ['A_menuButton new', current_page?(new_post_path) ? 'activePage' : 'inactivePage'] do %>
          <span>Создать подборку</span>
        <% end %>
      <% end %>
      <%= link_to posts_path, class: ['A_menuButton', current_page?(posts_path) ? 'activePage' : 'inactivePage'] do %>
        <span>Подборки</span>
      <% end %>
    </div>
    
    <%= link_to "TUMBA", posts_path, class: 'Q_menuLogo' %>
    
    
    <div class="W_menuActions right">
      <!-- Мини-инпут с текущим запросом -->
      <div class="W_searchMini">
        <button class="A_menuButton search Q_openSearchBtn">
          <span id="Q_searchMiniText"><%= params[:query].presence || "Поиск" %></span>
          <% if params[:query].present? %>
            <button class="Q_clearSearchBtn" data-action="click->search#clear">✕</button>
          <% end %>
        </button>
      </div>
      
      <%= link_to notifications_path, class: "A_menuButton" do %>
        <img src="<%= asset_path('menu/notificationIcon.svg') %>" alt="Уведомления" class="Q_menuIcon">
        <% if current_user.notifications.where(read_status: false).any? %>
          <div class="Q_notificationBadge">
            <h4><%= current_user.notifications.where(read_status: false).count %></h4>
          </div>
        <% end %>
      <% end %>

      
      <%= link_to collections_path, class: "A_menuButton" do %>
        <img src="<%= asset_path('menu/savedIcon.svg') %>" alt="Сохранённое" class="Q_menuIcon">
      <% end %>
      
        <div class="dropdown">
          <div class="A_menuButton profile <%= current_page?(profile_path(current_user.profile)) ? 'activePage' : 'inactivePage' %>">
            <%= link_to profile_path(current_user.profile), class: 'Q_menuAvatar' do %>
              <img src="<%= current_user.profile.avatar_url %>" alt="Avatar" class="Q_menuAvatar">
            <% end %>
            <button class="Q_dropdownBtn">
              <img src="<%= asset_path('menu/arrowDownIcon.svg') %>" alt="Меню" class="Q_menuIcon">
            </button>
          </div>
          
          <div class="W_dropdownProfileMenu">
            <div class="A_dropdownMenuBlock">
              <h4 class="Q_dropdownMenuHeader">Аккаунт</h4>
              <div class="C_menuUsers">
                <div class="A_menuUser active">
                  <img class="Q_avatarImg" src="<%= current_user.profile.avatar_url %>" alt="">
                  <h4><%= current_user.profile.username %></h4>
                </div>
              </div>
            </div>
            <div class="A_dropdownMenuBlock">
              <h4 class="Q_dropdownMenuHeader">Дополнительно</h4>
              <div class="W_userActions">
                <%= link_to "Настройки", "#", class: "Q_dropdownItem", data: { open_settings: true } %> 
                <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete }, class: "Q_dropdownItem" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </nav>

  <!-- Подменю для страницы постов -->
  <% if controller_name == "posts" && action_name == "index" %>
    <div class="W_indexPostsHeader">
      <%= link_to posts_path(filter: "all"), class: ['Q_postsFilterBtn', (@filter_param != "following" ? 'active' : '')] do %>
        Все посты
      <% end %>

      <%= link_to posts_path(filter: "following"), class: ['Q_postsFilterBtn', (@filter_param == "following" ? 'active' : '')] do %>
        Подписки
      <% end %>
    </div>
  <% end %>

  <!-- Подменю для страницы коллекций -->
  <% if controller_name == "collections" && action_name == "index" %>
    <div class="W_collectionsHeader">
      <% count = current_user.collections.count %>
      <% word = case count % 10
              when 1 then 'коллекция'
              when 2..4 then 'коллекции'
              else 'коллекций'
              end %>
      <h4 class="Q_collectionsCount"><%= "#{count} #{word}" %></h4>
      <h2 class="Q_collectionsTitle">СОХРАНЁННОЕ</h2>
      <button type="button" class="Q_createCollectionBtn">
        <img src="<%= asset_path('crossIcon_b.svg') %>" alt="Создать подборку">
      </button>
    </div>
  <% end %>

  <!-- Подменю для страницы коллекции -->
  <% if controller_name == "collections" && action_name == "show" %>
    <div class="W_collectionsHeader">

      <% post_count = @collection.posts.count %>
      <% item_count = @collection.items.count %>
      <% total_count = post_count + item_count %>

      <% word = case total_count % 10
              when 1 then 'объект'
              when 2..4 then 'объекта'
              else 'объектов'
              end %>

      <h4 class="Q_collectionsCount"><%= "#{total_count} #{word}" %></h4>
      <h2 class="Q_collectionsTitle"><%= @collection.title %></h2>

      <% if current_user == @collection.user %>
        <% if @collection.title != "Все идеи" %>
          <div class="W_collectionActions">
            <!-- Кнопка редактирования -->
            <button type="button" class="Q_editCollectionBtn">
              <img src="<%= asset_path('editIcon_b.svg') %>" alt="Редактировать подборку">
            </button>


            <!-- Кнопка удаления -->
            <%= button_to collection_path(@collection), method: :delete, data: { confirm: "Удалить эту коллекцию? Это действие необратимо." }, class: "Q_deleteCollectionBtn" do %>
              <img src="<%= asset_path('trashIcon_b.svg') %>" alt="Удалить подборку">
            <% end %>
          </div>
        <% else %>
          <div class="Q_deleteCollectionPlaceholder"></div>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <!-- Подменю для поиска -->
  <div id="search_dropdown" class="W_searchDropdown hidden">
    <button class="Q_searchCloseBtn" data-close-search>
        <img src="<%= asset_path('crossIcon_b.svg') %>" alt="Закрыть">
    </button>
    <h2>Что вы ищите?</h2>
    <div class="C_searchTags">

    </div>
    <%= form_with url: posts_path, method: :get, html: { class: "O_searchForm" }, local: true do |f| %>
      <div class="M_searchInputWrap">
        <%= f.text_field :query, placeholder: "Найти пост...", value: params[:query], class: "Q_searchInput", autofocus: true %>
        <%= f.submit "Найти", class: "Q_searchSubmitBtn" %>
      </div>
    <% end %>
  </div>

  <% else %>
    <nav class="O_menuBar">

      <div class="W_menuActions left">
        <button class="A_menuButton search">
          <span>Поиск</span>
        </button>
      </div>
      
      <div class="W_menuActions right">
        <%= link_to new_user_session_path, class: "A_menuButton" do %>
          <span>войти</span>
        <% end %>
        <%= link_to new_user_registration_path, class: "A_menuButton new" do %>
          <span>Регистрация</span>
        <% end %>


      </div>
    </nav>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render 'application/settings' %>
<% end %>

<%= render 'application/mobile_menu' %>


<div class="S_menuBar mobile">
<% if user_signed_in? %>
  <nav class="O_menuBar">
    <button class="A_menuButton">
      <img src="<%= asset_path('menu/searchIcon_b.svg') %>" alt="Менюшка" class="Q_menuIcon">
    </button>
    <%= link_to "TUMBA", posts_path, class: 'Q_menuLogo' %>
    <button class="A_menuButton" id='mobile_menu'>
      <img src="<%= asset_path('menu/menuIcon_b.svg') %>" alt="Менюшка" class="Q_menuIcon">
    </button>
  </nav>

  <!-- Подменю для страницы постов -->
  <% if controller_name == "posts" && action_name == "index" %>
    <div class="W_indexPostsHeader">
      <%= link_to posts_path(filter: "all"), class: ['Q_postsFilterBtn', (@filter_param != "following" ? 'active' : '')] do %>
        Все посты
      <% end %>

      <%= link_to posts_path(filter: "following"), class: ['Q_postsFilterBtn', (@filter_param == "following" ? 'active' : '')] do %>
        Подписки
      <% end %>
    </div>
  <% end %>

  <!-- Подменю для страницы коллекций -->
  <% if controller_name == "collections" && action_name == "index" %>
    <div class="W_collectionsHeader">
      <% count = current_user.collections.count %>
      <% word = case count % 10
              when 1 then 'коллекция'
              when 2..4 then 'коллекции'
              else 'коллекций'
              end %>
      <h4 class="Q_collectionsCount"><%= "#{count} #{word}" %></h4>
      <h2 class="Q_collectionsTitle">СОХРАНЁННОЕ</h2>
      <button type="button" class="Q_createCollectionBtn">
        <img src="<%= asset_path('crossIcon_b.svg') %>" alt="Создать подборку">
      </button>
    </div>
  <% end %>

  <!-- Подменю для страницы коллекции -->
  <% if controller_name == "collections" && action_name == "show" %>
    <div class="W_collectionsHeader">

      <% post_count = @collection.posts.count %>
      <% item_count = @collection.items.count %>
      <% total_count = post_count + item_count %>

      <% word = case total_count % 10
              when 1 then 'объект'
              when 2..4 then 'объекта'
              else 'объектов'
              end %>

      <h4 class="Q_collectionsCount"><%= "#{total_count} #{word}" %></h4>
      <h2 class="Q_collectionsTitle"><%= @collection.title %></h2>

      <% if current_user == @collection.user %>
        <% if @collection.title != "Все идеи" %>
          <div class="W_collectionActions">
            <!-- Кнопка редактирования -->
            <button type="button" class="Q_editCollectionBtn">
              <img src="<%= asset_path('editIcon_b.svg') %>" alt="Редактировать подборку">
            </button>


            <!-- Кнопка удаления -->
            <%= button_to collection_path(@collection), method: :delete, data: { confirm: "Удалить эту коллекцию? Это действие необратимо." }, class: "Q_deleteCollectionBtn" do %>
              <img src="<%= asset_path('trashIcon_b.svg') %>" alt="Удалить подборку">
            <% end %>
          </div>
        <% else %>
          <div class="Q_deleteCollectionPlaceholder"></div>
        <% end %>
      <% end %>

    </div>
  <% end %>
<% else %>
    <nav class="O_menuBar">
      <button class="A_menuButton">
        <img src="<%= asset_path('menu/searchIcon_b.svg') %>" alt="Менюшка" class="Q_menuIcon">
      </button>
      <%= link_to "TUMBA", posts_path, class: 'Q_menuLogo' %>
      <button class="A_menuButton" id='mobile_menu'>
        <img src="<%= asset_path('menu/menuIcon_b.svg') %>" alt="Менюшка" class="Q_menuIcon">
      </button>
    </nav>

  
  <% end %>
</div>