<div class="S_menuBar">
<% if user_signed_in? %>
  <nav class="O_menuBar">
    <div class="W_menuActions left">
      <% if user_signed_in? && can?(:create, Post) %>
        <%= link_to new_post_path, class: ['A_menuButton new', current_page?(new_post_path) ? 'activePage' : 'inactivePage'] do %>
          <span>Создать подборку</span>
        <% end %>
      <% end %>
      <%= link_to posts_path, class: ['A_menuButton', current_page?(posts_path) ? 'activePage' : 'inactivePage'] do %>
        <span>Подборки</span>
      <% end %>
    </div>
    
    <%= link_to "TUMBA", posts_path, class: 'Q_menuLogo' %>
    
    
    <div class="W_menuActions right">
      <button class="A_menuButton search">
        <span>Поиск</span>
      </button>
      
      <button class="A_menuButton">
        <img src="<%= asset_path('menu/notificationIcon.svg') %>" alt="Уведомления" class="Q_menuIcon">
      </button>
      
      <%= link_to collections_path, class: "A_menuButton" do %>
        <img src="<%= asset_path('menu/savedIcon.svg') %>" alt="Сохранённое" class="Q_menuIcon">
      <% end %>
      
        <div class="dropdown">
          <div class="A_menuButton profile <%= current_page?(profile_path(current_user.profile)) ? 'activePage' : 'inactivePage' %>">
            <%= link_to profile_path(current_user.profile), class: 'Q_menuAvatar' do %>
              <img src="<%= current_user.profile.avatar_url %>" alt="Avatar" class="Q_menuAvatar">
            <% end %>
            <button class="Q_dropdownBtn">
              <img src="<%= asset_path('menu/arrowDownIcon.svg') %>" alt="Меню" class="Q_menuIcon">
            </button>
          </div>
          
          <div class="W_dropdownProfileMenu">
            <div class="A_dropdownMenuBlock">
              <h4 class="Q_dropdownMenuHeader">Аккаунт</h4>
              <div class="C_menuUsers">
                <div class="A_menuUser active">
                  <img class="Q_avatarImg" src="<%= current_user.profile.avatar_url %>" alt="">
                  <h4><%= current_user.profile.username %></h4>
                </div>
              </div>
            </div>
            <div class="A_dropdownMenuBlock">
              <h4 class="Q_dropdownMenuHeader">Дополнительно</h4>
              <div class="W_userActions">
                <%= link_to "Настройки", "#", class: "Q_dropdownItem", data: { open_settings: true } %> 
                <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete }, class: "Q_dropdownItem" %>
              </div>
            </div>
          </div>
        </div>

    </div>
</nav>

<% if controller_name == "collections" && action_name == "index" %>
  <div class="W_collectionsHeader">
    <% count = current_user.collections.count %>
    <% word = case count % 10
            when 1 then 'коллекция'
            when 2..4 then 'коллекции'
            else 'коллекций'
            end %>
    <h4 class="Q_collectionsCount"><%= "#{count} #{word}" %></h4>
    <h2 class="Q_collectionsTitle">СОХРАНЁННОЕ</h2>
    <%= link_to new_collection_path, class: "Q_createCollectionBtn" do %>
      <img src="<%= asset_path('crossIcon_b.svg') %>" alt="Создать подборку">
    <% end %>
  </div>
<% end %>



 <% else %>
  <nav class="O_menuBar">

    <div class="W_menuActions left">
      <button class="A_menuButton search">
        <span>Поиск</span>
      </button>
    </div>
    
    <div class="W_menuActions right">
      <%= link_to new_user_session_path, class: "A_menuButton" do %>
        <span>войти</span>
      <% end %>
      <%= link_to new_user_registration_path, class: "A_menuButton new" do %>
        <span>Регистрация</span>
      <% end %>


    </div>
  </nav>
<% end %>
</div>

<% if user_signed_in? %>
  <%= render 'application/settings' %>
<% end %>