<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Homie" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="color: red" class="systemMessage"><%= alert %></p>
    <p style="color: green" class="systemMessage"><%= notice %></p>
    
    <div class="welcomeMenu"> 
      <%= link_to "Промо", welcome_index_url, class: current_page?(welcome_index_url) ? "activePage" : "inactivePage" %>
      <%= link_to "О нас", welcome_about_url, class: current_page?(welcome_about_url) ? "activePage" : "inactivePage" %>
    </div>

    <%= yield %>

    <footer class="welcomeFooter"> 
      <div class="projectInfo">
      <h5>2024/2025</h5>
      <h1>homie</h1>
      </div>
      <div class="projectCreators">
          <div class="ADC">
              <img class="avatarImg" src="<%= asset_path('adc_hub.png') %>" alt="">
              <h4>hse adc</h4>
          </div>
          <div class="creators">
              <h4>Авторы</h4>
              <p>Ирина Аполонник</p>
              <p>Патимат Иманалиева</p>
              <p>Елизавета Давыдович</p>
          </div>
          <div class="creators">
              <h4>Кураторы</h4>
              <p>Захар День</p>
              <p>Вадим Булгаков</p>
              <p>Дмитрий Александров</p>
          </div>
      </div>
    </footer>
  </body>
</html>